.sidebar{
    position: fixed;
    background-color: #161A23;
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo{
    flex: 0.1;
    display: flex;
    justify-content: start;
    align-items: start;
}
.logo img{
    padding-left: 50px;
    padding-top: 30px;
    width: 150px;
}

.main-links{
    flex: 0.35;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: start;
    padding-left: 130px;
}
.sub-links{
    flex: 0.35;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: start;
    padding-left: 130px;
}
.profile-info{
    flex: 0.2;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    cursor: pointer;
}

.link-icon-group{
    display: flex;
    align-items: center;
    gap: 20px;
}

.sidebar-sep{
    width: 95%;
    margin-left: 10px;
    border: 1px solid rgba(128, 128, 128,0.4);
    box-shadow: 1px 1px 20px #fff;
}

.pfp img{
    border-radius: 50%;
}

.prinfo{
    display: flex;
    gap: 20px;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.details p {
    display: flex;
    gap: 30px;
}

.login-button{
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #7241fd;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    border: 1px solid #7241fd;
}

.logout-button{
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    background-color: #7241fd;
    border: 1px solid #7241fd;
    border-radius: 10px; 
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.logout-button:hover,.login-button:hover{
    background-color: #fff;
    color:#7241fd ;
    border: 1px solid #7241fd;
}

.register{
    width: 550px;
    height: 670px;
    position: absolute;
    background-color: #161A23;
    box-shadow: 5px 5px 500px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    left: 140%;
    top: 15%;
    display: flex;
    flex-direction: column;
}
.register p{
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
}

.register .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
}
.register input{
    color: #161A23;
    width: 300px;
    height: 50px;
    padding-left: 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #7241fd;
}

.register button{
    background-color: #7241fd;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

hr{
    border: none;
    width: 3px;
    background-color: #30374A;
}

.line{
    position: absolute;
    height: 90vh;
    left: 22vw;
    margin-top: 10%;
}